<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style>
        input[type="file"] {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            background-image: url(images/uploads/defaultOther.jpg);
            background-size: contain;
        }
    </style> -->
    <style>
        div {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            background-image: url(images/uploads/defaultOther.jpg);
            background-size: contain;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <!-- <form action="/uploadProfilePhoto" method="post" enctype="multipart/form-data">
        <input name="file" type="file">
        <button> submit </button>
    </form> -->
    <div>
    </div>
    <script src="javascripts/script.js"></script>
</body>
</html>